# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# files that are ignored for size
plotly/P48-Custom-Data-PUBG.csv
plotly/P48-Time-Series-Tesla-Stock-Price.csv
plotly/P48-Practical-Introduction-Questions.pdf
plotly/P48-Creating-Maps-Minority-Majority.csv

# specifically needed to list these .DS_Store files
zenva/.DS_Store
TriC_CodingBootcamp/.DS_Store
TriC_CodingBootcamp/clevelandCodes/completed/.DS_Store
TriC_CodingBootcamp/clevelandCodes/completed/Python/.DS_Store
TriC_CodingBootcamp/uCertify/.DS_Store
TriC_CodingBootcamp/uCertify/completed/.DS_Store