header {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px;
}

.headerLogo {
    width: 5em;
}

.navbar {
    display: flex;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    font-size: 1.5em;
    padding: 0 1em;
}

.navbar ul li a {
    text-decoration: none;
    color: hsl(207, 100%, 50%);
}

.navbar ul li a:visited {
    color: hsl(207, 100%, 35%);
}

.homepage-content-container {
    margin: 3em 10em;
}

.homepage-content-container h1 {
    font-size: 4em;
    color: hsla(207, 100%, 35%);

}

.homepage-content-container p {
    font-size: 1.5em;
    color: hsla(207, 100%, 35%, 0.8);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    color: white;
    background-color: hsl(207, 100%, 25%);
}