body {
    margin: 10px 100px 50px 100px;
    background-color: #FCFFE7;
    color: #4957a7;
    text-align: justify;
  }
  h1 {
    text-align: center;
    color: #354082;
  }
  h3{
     color: #414e98;
  }
  figure{
     text-align: center;
  }
  figcaption{
     font-size: small;
     font-weight: bold;
  }
  .videoCaption{
    font-weight: normal;
  }
  a {
     color: #71271d;
  }
  a:visited{
     color: #2B3467;
  }
  section{
    font-size: small;
    font-weight: bold;
  }
  hr{
     border: solid 1px;
     border-color:#2B3467;
  }
  .copyright {
    text-align: center;
    font-size: small;
  }